In [1]:
import pandas as pd

In [2]:
diabetes_data = pd.read_csv("../data/diabetes/diabetes.csv")
diabetes_data.head()

,Age,Gender,Polyuria,Polydipsia,Sudden_Weight_Loss,Weakness,Polyphagia,Genital_thrush,Visual_Blurring,Itching,Irritability,Delayed_Healing,Partial_Paresis,Muscle_Stiffness,Alopecia,Obesity,Class
0,40,Male,No,Yes,No,Yes,No,No,No,Yes,No,Yes,No,Yes,Yes,Yes,Positive
1,58,Male,No,No,No,Yes,No,No,Yes,No,No,No,Yes,No,Yes,No,Positive
2,41,Male,Yes,No,No,Yes,Yes,No,No,Yes,No,Yes,No,Yes,Yes,No,Positive
3,45,Male,No,No,Yes,Yes,Yes,Yes,No,Yes,No,Yes,No,No,No,No,Positive
4,60,Male,Yes,Yes,Yes,Yes,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Positive

1. Проверим датасет на наличие пустых ячеек:

In [3]:
diabetes_data.isnull().sum()

Age                   0
Gender                0
Polyuria              0
Polydipsia            0
Sudden_Weight_Loss    0
Weakness              0
Polyphagia            0
Genital_thrush        0
Visual_Blurring       0
Itching               0
Irritability          0
Delayed_Healing       0
Partial_Paresis       0
Muscle_Stiffness      0
Alopecia              0
Obesity               0
Class                 0
dtype: int64

Пустых признаков в датасете нет

2. Приведем бинарные признаки к числовому формату

In [4]:
for column in diabetes_data.columns.drop(['Age', 'Gender', 'Class']):
    diabetes_data[column] = diabetes_data[column].map({'No' : 0, 'Yes': 1})
diabetes_data['Class'] = diabetes_data['Class'].map({'Positive' : 1, 'Negative' : 0})
diabetes_data.head()

,Age,Gender,Polyuria,Polydipsia,Sudden_Weight_Loss,Weakness,Polyphagia,Genital_thrush,Visual_Blurring,Itching,Irritability,Delayed_Healing,Partial_Paresis,Muscle_Stiffness,Alopecia,Obesity,Class
0,40,Male,0,1,0,1,0,0,0,1,0,1,0,1,1,1,1
1,58,Male,0,0,0,1,0,0,1,0,0,0,1,0,1,0,1
2,41,Male,1,0,0,1,1,0,0,1,0,1,0,1,1,0,1
3,45,Male,0,0,1,1,1,1,0,1,0,1,0,0,0,0,1
4,60,Male,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1

3. Преобразуем категориальный признак

In [6]:
diabetes_data = pd.get_dummies(data = diabetes_data, columns = ['Gender'])
diabetes_data.head()

,Age,Polyuria,Polydipsia,Sudden_Weight_Loss,Weakness,Polyphagia,Genital_thrush,Visual_Blurring,Itching,Irritability,Delayed_Healing,Partial_Paresis,Muscle_Stiffness,Alopecia,Obesity,Class,Gender_Female,Gender_Male
0,40,0,1,0,1,0,0,0,1,0,1,0,1,1,1,1,0,1
1,58,0,0,0,1,0,0,1,0,0,0,1,0,1,0,1,0,1
2,41,1,0,0,1,1,0,0,1,0,1,0,1,1,0,1,0,1
3,45,0,0,1,1,1,1,0,1,0,1,0,0,0,0,1,0,1
4,60,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,0,1

4. Сохраним обработанный датасет

In [5]:
diabetes_data.to_csv("../data/diabetes/diabetes_preprocessed.csv", sep = ',')

NameError: name 'diamonds_ml' is not defined