In [79]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB,  BernoulliNB
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix, classification_report, f1_score
from sklearn.model_selection import train_test_split, GridSearchCV, StratifiedKFold, KFold, cross_val_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.cluster import KMeans
from functools import reduce
import numpy as np
import pandas as pd
from scipy.cluster.hierarchy import linkage, dendrogram
import matplotlib.pyplot as plt

In [39]:
diabetes_data = pd.read_csv("../data/diabetes/diabetes_preprocessed.csv", index_col = 0)
diabetes_data.head()

,Age,Polyuria,Polydipsia,Sudden_Weight_Loss,Weakness,Polyphagia,Genital_thrush,Visual_Blurring,Itching,Irritability,Delayed_Healing,Partial_Paresis,Muscle_Stiffness,Alopecia,Obesity,Class,Gender_Female,Gender_Male
0,40,0,1,0,1,0,0,0,1,0,1,0,1,1,1,1,0,1
1,58,0,0,0,1,0,0,1,0,0,0,1,0,1,0,1,0,1
2,41,1,0,0,1,1,0,0,1,0,1,0,1,1,0,1,0,1
3,45,0,0,1,1,1,1,0,1,0,1,0,0,0,0,1,0,1
4,60,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,0,1

# Задание 1

In [40]:
data = [
        ('солнечно', True),
        ('снег', False),
        ('облачно', False),
        ('дождь', False),
        ('солнечно', True),
        ('снег', False),
        ('облачно', True),
        ('снег', False),
        ('солнечно', False),
        ('облачно', True),
        ('снег', True),
        ('солнечно', True),
        ('дождь', False),
        ('дождь', True),
        ('облачно', True),
]

df = pd.DataFrame(data, columns=['weather', 'stroll'])
df

     weather  stroll
0   солнечно    True
1       снег   False
2    облачно   False
3      дождь   False
4   солнечно    True
5       снег   False
6    облачно    True
7       снег   False
8   солнечно   False
9    облачно    True
10      снег    True
11  солнечно    True
12     дождь   False
13     дождь    True
14   облачно    True

Вероятность отправится на прогулку если пойдет дождь

In [41]:
pRain = len(df.loc[df.weather == 'дождь']) / len(df)
pStroll = len(df.loc[df.stroll == True]) / len(df)
pRainStroll = len(df.loc[(df.stroll == True) & (df.weather == 'дождь')]) / len(df.loc[df.stroll == True])

pStrollRain = pStroll * pRainStroll / pRain
pStrollRain

0.3333333333333333

# Задание 2

Разобьем числовой признак

In [42]:
diabetes_data['1q'] = 0
diabetes_data['2q'] = 0
diabetes_data['3q'] = 0
diabetes_data['4q'] = 0

In [43]:
q = [0, .25, .5, .75, 1]
quartiles = diabetes_data['Age'].quantile(q = q)
quartiles

0.00    16.0
0.25    39.0
0.50    47.5
0.75    57.0
1.00    90.0
Name: Age, dtype: float64

In [44]:
group = pd.cut(diabetes_data['Age'], bins = quartiles, labels = ['1q','2q','3q','4q'])
for i in range(0, group.size):
    diabetes_data.at[i, group[i]] = 1
diabetes_data.head()

,Age,Polyuria,Polydipsia,Sudden_Weight_Loss,Weakness,Polyphagia,Genital_thrush,Visual_Blurring,Itching,Irritability,...,Alopecia,Obesity,Class,Gender_Female,Gender_Male,1q,2q,3q,4q,NaN
0,40,0,1,0,1,0,0,0,1,0,...,1,1,1,0,1,0,1,0,0,NaN
1,58,0,0,0,1,0,0,1,0,0,...,1,0,1,0,1,0,0,0,1,NaN
2,41,1,0,0,1,1,0,0,1,0,...,1,0,1,0,1,0,1,0,0,NaN
3,45,0,0,1,1,1,1,0,1,0,...,0,0,1,0,1,0,1,0,0,NaN
4,60,1,1,1,1,1,0,1,1,1,...,1,1,1,0,1,0,0,0,1,NaN

In [45]:
diabetes_data.drop('Age', axis = 1, inplace = True)

In [53]:
features = list(diabetes_data.columns)[:-1]
features

['Polyuria',
 'Polydipsia',
 'Sudden_Weight_Loss',
 'Weakness',
 'Polyphagia',
 'Genital_thrush',
 'Visual_Blurring',
 'Itching',
 'Irritability',
 'Delayed_Healing',
 'Partial_Paresis',
 'Muscle_Stiffness',
 'Alopecia',
 'Obesity',
 'Class',
 'Gender_Female',
 'Gender_Male',
 '1q',
 '2q',
 '3q',
 '4q']

In [54]:
y = diabetes_data["Class"]
diabetes_data.drop('Class', axis =1, inplace = True)
X = diabetes_data

In [55]:
likelyhoods = {} #возможность
class_p = {} # априорная вероятность класса
prior_p = {} # априорная вероятность предиктора

In [76]:
def calculate_class_p(y):
    classes, count = np.unique(y, return_counts = True)
    result = count / len(y)
    return result
calculate_class_p(y)

array([0.38461538, 0.61538462])

In [102]:
def calculate_likelihood(feature, y):
    return [ ((y[feature == 1] == 1).sum() / (y == 1).sum(), 
    (y[feature == 0] == 1).sum() / (y == 1).sum()),
    ((y[feature == 1] == 0).sum() / (y == 0).sum(),
    (y[feature == 0] == 0).sum() / (y == 0).sum())]

In [113]:
class NaiveBayes:
    
    def fit(self, X, y):
        classes, count = np.unique(y, return_counts = True)
        class_p = count[classes == 1] / len(y)
        self._classes = classes
        self._class_p = class_p
        probs = []
        for x in X:
            probs.append(calculate_likelihood(X[x], y))
        self._probs = probs
        
    def predict(self, X):
        result = []
        for i in range(0, X.shape[0]):
            probs_yes = []
            probs_no = []
            for j in range(0, X.shape[1]):
                if(X.iat[i,j] == 1):
                    probs_yes.append(self._probs[j][0][0])
                    probs_no.append(self._probs[j][1][0])
                elif (X.iat[i,j] == 0):
                    probs_yes.append(self._probs[j][0][1])
                    probs_no.append(self._probs[j][1][1])
            prob_yes = reduce(lambda x, y: x * y, probs_yes)
            prob_no = reduce(lambda x, y: x * y, probs_no)
            n_prob_yes = prob_yes / (prob_yes + prob_no)
            n_prob_no = prob_no / (prob_yes + prob_no)
            result.append(round(n_prob_yes))
        return result
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y)
nb = NaiveBayes()
nb.fit(X_train, y_train)
y_pred = nb.predict(X_test)

In [115]:
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[48  2]
 [ 8 72]]
              precision    recall  f1-score   support

           0       0.86      0.96      0.91        50
           1       0.97      0.90      0.94        80

    accuracy                           0.92       130
   macro avg       0.92      0.93      0.92       130
weighted avg       0.93      0.92      0.92       130